.cont-Item {
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  flex-direction: column;
  border: 2px solid black;
  border-radius: 10px;
  width: 70%;
}

.prodDet {
  border-bottom: 2px solid black;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  width: 100%;
  text-align: center;
  background-color: #404040;
  color: white
}

.articuloInd {
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  flex-wrap: wrap;
  margin: 20px;
  gap: 10px;
  /* border: 2px solid black; */
  border-radius: 10px;
  padding: 10px;
}

.img-des {
  display: flex;
  justify-content: space-around;
  gap: 10px;
  align-items: center;
  align-items: center;
}

.imgArt {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;

}

.imgArt img {
  width: 250px;
  height: 250px;
  object-fit: cover;
  border-radius: 10px;
}

.infArt {
  /* margin-left: 10px; */
  font-family: "Fredoka";
  width: inherit;
  text-align: center;
}

.actions {
  display: flex;
  justify-content: space-evenly;
  width: 100%;
}

.actions button img {
  height: 50px;
  width: 50px;
  object-fit: cover;
}

.actions button {
  padding: 20px;
  background-color: #8C8C8C;
  font-size: 20px;
  font-family: 'Fredoka';
  color: black;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  border-radius: 10px;
  border: 3px solid #454545;
  transition: background-color .25s ease-out, box-shadow .25s ease-out, color .25s ease-out;
}

.actions button:hover {
  background-color: #404040;
  box-shadow: 5px 5px #8C8C8C;
  color: white;

}

.actions button:active {
  background-color: #fff67a;
}

@media screen and (max-width: 950px) {
  .img-des {
    flex-direction: column;
  }
}

@media screen and (max-width: 666px) {
  .actions button img {
    height: 30px;
    width: 30px;
  }

  .actions button {
    width: 130px;
  }
}

@media screen and (max-width: 500px) {

  .actions button {
    width: 100px;
    height: 100px;
    font-size: 15px;
  }

}