.nav {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: row;
  width: 100%;
  border-bottom: 5px solid #262626;
  background-color: #595959;
  margin-bottom: 20px;
}
.menu button {
  color: #bfbfbf;
}
.menu,
.logo {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: row;
  height: 100%;
  gap: 20px;
}

.logo h1 {
  border-bottom: 7px solid #bfbfbf;
  border-top: 7px solid #bfbfbf;
  color: #bfbfbf;
}

.logo button,
.menu button {
  padding: 10px;
  background-color: transparent;
  border: 0px;
  font-size: 23px;
  border-radius: 15px;
  transition: box-shadow 0.25s ease-out, color 0.25s ease-out, border 0.25s ease-out;
}
.logo button:hover,
.menu button:hover {
  color: white;
  border: 3px solid white;
  /* box-shadow: 5px 5px 3px #bfbfbf; */
}
