/*Contenedor de todo el navbar*/
.nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: row;
  width: 100%;
  height: 80px;
  border-bottom: 2px solid #262626;
  background-color: #595959;
  margin-bottom: 20px;
}

/*Contenedores de menu y logo*/

.logo {
  text-decoration: none;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  transition: transform .25s ease-out, color .25s ease-out;
  height: 80px;
  color: #bfbfbf;
  transform: scale(.8);
}

.btn {
  color: #bfbfbf;
  font-family: "Fredoka";
}

.menu {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: row;
  height: 100%;
  ;
}

.logo h1,
.logo p {
  font-family: "Fredoka";
  margin: 0px;
  padding: 0px;
  z-index: 4;
  text-decoration: underline;
  text-decoration-thickness: 3px;
  user-select: none;
}

.logo h1 {
  font-size: 20px;
  padding-top: 10px;
}

.btn,
.btnL-selected {
  font-family: "Fredoka";
  text-decoration: none;
  margin-right: 5px;
  padding: 10px;
  padding-bottom: 0px;
  background-color: transparent;
  border: 0px;
  font-size: 23px;
  filter: contrast(70%);
  transition: color 0.25s ease-out, border-bottom 0.25s ease-in-out, filter .25s ease-out;
}

.btn:hover {
  filter: contrast(100%);
  color: white;
  border-bottom: 3px solid white;
}

.btnL-selected {
  filter: contrast(100%);
  color: white;
  border-bottom: 3px solid white;
}

.numart {
  height: 15px;
  width: 15px;
  background-color: #fff67a;
  position: relative;
  left: 34px;
  top: -5px;
  font-size: 8px;
  border-radius: 50%;
  font-family: 'Fredoka';
}

/*Imagen de bolsita de compras en navbar*/
.logoImg {
  height: 70px;
  width: 50px;
  /* position: absolute; */
}

/*Logo hover y animación*/
.logo:hover {
  transform: scale(1);
  color: white;
}

/*botones se perfil de usuario*/
.perfil {
  display: flex;
  justify-content: space-evenly;
  list-style: none;
  /* align-items: baseline; */
  align-items: center;
  gap: 30px;
  padding-left: 0px;
  /* padding-right: 10px; */
}

.user,
.carrito,
.favoritos {
  background-color: transparent;
  /* border-radius: 50%; */
  border: 0px;
  padding: 0px;
}

.user:hover,
.btnI-selected:hover,
.btnI-selectedD:hover,
.carrito img:hover,
.favoritos img:hover {
  border-bottom: 3px solid white;
  filter: contrast(100%);
}


.carrito img,
.favoritos img {
  height: 25px;
  width: 27px;
  padding-top: 10px;
  padding-bottom: 5px;
  filter: contrast(50%);
  transition: border-bottom .25s ease-out, contrast .25s ease-out;
}

.user img,
.btnI-selected img,
.btnI-selectedD img {
  height: 25px;
  width: 27px;
  padding-top: 10px;
  padding-bottom: 5px;
  transition: border-bottom .25s ease-out, contrast .25s ease-out;
}

.btnI-selected,
.user {
  display: flex;
  justify-content: center;
  gap: 5px;
  align-items: center;
  text-decoration: none;
  transition: border-bottom .25s ease-out, contrast .25s ease-out;
}

.btnI-selectedD {
  display: flex;
  justify-content: center;
  /* flex-direction: column; */
  /* gap: 5px; */
  align-items: center;
  text-decoration: none;
  transition: border-bottom .25s ease-out, contrast .25s ease-out;
}

.user {
  filter: contrast(50%);
  transition: border-bottom .25s ease-out, contrast .25s ease-out;
}

.btnI-selectedD,
.btnI-selected {
  border-bottom: 3px solid white;
  margin-bottom: 5px;
}

.btnI-selectedD p,
.btnI-selected p,
.user p {
  font-family: 'Fredoka';
  padding: 0px;
  text-decoration: none;
  color: white;
}

.btnI-selectedD img,
.btnI-selected img {
  filter: contrast(100%);
}

@media screen and (max-width: 440px) {
  #about {
    display: none;
  }
}